all_widgets.py
main.spec
nomansland.py
safekeep.json
__pycache__/*
sources/Ids
packetInfo.txt
.vscode/*
uiTest.py
sources/gameRessources/Items.json
*xlsx
access*
itemAveragePrices.dat
backup*
protocol/*