all_widgets.py
main.spec
nomansland.py
safekeep.json
__pycache__/*
data/__pycache__/*
scripts/*
sniffer/__pycache__/*
sources/Ids
sources/__pycache__/*
modules/__pycache__/*
ui/__pycache__/*
packetInfo.txt
.vscode/*
uiTest.py
sources/gameRessources/Items.json
*xlsx
access*
itemAveragePrices.dat
